@font-face {
	font-family:  'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.svg') format('svg'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#wrapper {
	width: 100%;
}
#header {
	position: absolute;
	text-align: center;
	z-index: 1000;
	color: #fff;
	height: 85px;
	margin-top: 10px;
	width: 100%;
	transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
	-o-transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
	-moz-transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
	-webkit-transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
}
.logo {
	padding-top: 6px;
}
.navbar-brand{
	padding-top: 0px;
}
#navbar {
	position: static;
	float: right;
	margin-top: 10px;
}
.navbar {
	margin-bottom: 0;
}
#navbar > ul > li >  a {
	font-family: 'nice';
	text-transform: uppercase;
	color: white;
}
#navbar > ul > li.active a { 
	background-color: #1f987d;
	color: black;
}
#navbar > ul > li a:hover {
	color: #1f987d;
}
#navbar > ul > li > a:focus, #navbar > ul > li > a:hover {
	background: transparent;
}

/*slider */
#slider {
	position: relative;
}
.img-100 {
	width: 100%;
	height: 100%;
}
.single-slider {
}

.single-slider .carousel-caption {
	padding-top: 50px;
	top: 40%;
	right: 10%;
	left: auto;
}
.single-slider .carousel-caption h3 {
	font-size: 50px;
	text-transform: uppercase;
	opacity: 1;
	z-index: 5;
	color: #fff;
	font-family: "open-sans", Arial, sans-serif;
}
.single-slider .carousel-caption p {
	color: #f9ad18;
	opacity: 1;
	font-size: 17px;
	font-weight: 100;
	z-index: 100;
	font-family: "open-sans", Arial, sans-serif;
}
#slider .slide a.carousel-control {
	background-color: #1f987d;
	background-image: none;
	color: #fff;
	font-size: 50px;
	height: 80px;
	line-height: 70px;
	top: 40%;
	width: 50px;
	z-index: 100;
}
#slider .slide a.left {
	left: 7%;
}
#slider .slide a.right {
	right: 7%;
}
#slider .slide a.carousel-control i {
	color: #fff;
}
.header-title{
	padding: 15px 0px;
	background-color: #ac001c;
}
.header-title h1{
	 color: white;
    font-family: 'nice';
    font-weight: bold;
}
.spot {
	padding-top: 50px;
}

.footer {
	padding-top: 40px;
	background-color: #1f987d;
    color: #31302c;
    position: relative;
}
.footer h2{
    font-weight: bold;
    margin: 10px 0px;
}
.footer p,.footer li{
	font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}
.footer .content {
	padding-top: 10px;
} 
.footer li {
	padding-bottom: 10px;
}
.footer li a {
	text-decoration: none;
}
.footer a:hover {
	color: #ccc;
}
.footer #social-icon li{
	display: inline-block;
}
.footer #social-icon a{
	background-color: #052B5B;
    color: #d0ccc1 
}
.footer #social-icon .content{
	padding-top: 9px;
}
.footer #social-icon p{
	margin-top: 29px;
}
.footer #social-icon a:hover{
	text-decoration: none;
}
.footer .footertext {
	padding: 15px 0px 15px 0px;
    border-top: 1px solid #a9a79b;
}
.footer  .footer-link {
	padding-bottom: 20px;
}
.footer  .footer-logo{
	position: absolute;
	left: 43%;
    right: 45%;
    top: 77%;
} 