.new-title-bar{
	background: none;
    margin: 0 0 29px 0;
    padding-bottom: 15px;
    position: relative;
    text-align: center
}
.new-single {
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 35px;
}
.new-title-bar:before,.new-title-bar:after{
	content: "";
    width: 170px;
    height: 1px;
    background-color:  #a60505;
    position: absolute;
    bottom: 0;
    left: 44%;
    margin-left: -45px;
}
.new-title-bar:before{
	    width: 140px;
    bottom: -9px;
    margin-left: -30px;
}
.title-bar{
	position: relative;
    display: block;
        font-size: 22px;
    letter-spacing: 8px;
}
.title-bar>span{
	font-weight: bold;
}
.title-bar h1{
	color: #a60505;
	display: inline-block;
	text-transform: uppercase;
}
.new-single{
	font-family: 'nice', Arial, Helvetica, sans-serif;
}
.mew-single img {
	max-width: 100%;
	width: 100%;

}
.new-single-header{
	    text-align: center;
    padding-bottom: 17px;
    position: relative;
    margin: 21px 0 19px 0;
}
.new-single-header-category{
	  overflow: hidden;
    display: block;
    margin-bottom: 6px;
}
.new-single-header-category span{
	    display: inline-block;
    position: relative;
}
.new-single-header-category span>a{
	color: #a60505;
	    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 18px 0 0;
   
    display: inline-block;
    vertical-align: top;
    background: none;
    transition: all 0.3s;


    font-weight: normal;
    margin-bottom: 5px;
    position: relative;
}
.new-single-header-category span>a:hover{
	text-decoration: underline;
}
.main-title{
	margin-bottom: 11px;
}
.main-title a{
	color: #313131;
    text-align: center;
    font-size : 24px;
    letter-spacing: 1px;
}
.main-title a:hover{
	text-decoration: none;
	color: #888888;
}
.new-single-header .time-new-single{
	font-size: 12px;
}
.new-single-header h2{
	    color: #313131;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.new-single-content{
	    margin: 23px 0px;
    text-align: left
}
.new-single-content p{
	padding-bottom: 10px;
}
.time-new-single{
	margin: 6px 0 0;
    font-style: italic;
}
.time-new-single span{
	color: #888;
}
.new-single-header:after{
	content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color:  #a60505;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}
.new-single-more{
	    text-align: center;
    overflow: hidden;
    clear: both;
    color: #a60505;
    text-decoration:none;
}
.new-single-more a{
	letter-spacing: 1px;
	text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
}
.new-single-more a:hover{
	text-decoration: none;
	color: #a60505;
}
.new-single-more>a:before,.new-single-more>a:after{
	position: absolute;
    content: "";
    width: 60px;
    height: 0;
    top: 50%;
    left: 100%;
    margin: 0 10px;
    margin-top: -1px;
    border-top: 1px solid #a60505;
    transition: all 0.3s;
}
.new-single-more>a:before{
	left: auto;
    right: 100%;
}
.new-single-more>a:hover:before{
	    right: 50%;
    margin-right: -10px;
    width: 90px;
}
.new-single-more>a:hover:after{
	    left: 50%;
    margin-left: -10px;
    width: 90px;
}
.new-recent{
	
    margin-right: 0;
   
    margin-bottom: 60px;
 
}
.new-recent-title{
	font-weight: bold;
	position: relative;
}
.new-recent-title:before,.new-recent-title:after{
	content: "";
	position: absolute;
}
.new-recent-title:after{
	background-color: #313131;
}
.new-recent-title:before{
	width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    bottom: -7px;
    left: 50%;
    border-top-color: #313131;
    border-width: 7px;
    border-bottom: 0;
    margin-left: -7px;
    z-index: 5;
}
.new-recent-title:after{
	    border: 1px solid #313131;
    left: -5px;
    right: -5px;
    bottom: 3px;
    display: block;
    z-index: 1;
    height: 100%;
}
.news img{
	width: 100%;
}
.new-recent-title span{
	    border: 1px solid #313131;
    background: #fff;
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 11px 15px 9px;
    z-index: 3;
}
.feed{
	float: none;
	padding: 0px;
}
ul.new-feed{
	list-style: none;
	margin: 28px -5px 0px -5px;
}
ul.new-feed li{
	padding-bottom: 26px;
	    margin-bottom: 15px;
	    margin-left: 0;
	        border-bottom: 1px solid #DEDEDE;
    font-size: 14px;
    color: #888888;
}
.fearture-feed .feed{
	    margin: 0 0 11px 0px !important;
            border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

.feed-header>.feed-title{
	color: #313131;
	letter-spacing: 0px;
	font-size: 16px;
}
.fearture-feed .feed-title{
	font-size: 18px;
}
.feed-header>.time-new-single{
	font-size: 11px;
}
.fearture-feed .time-new-single{
	font-size: 13px;
}
.fearture-feed .feed-header{
	margin-top: 20px;
}
.feed-title a:hover{
	text-decoration: none;
	color: #a60505;
}
.feed-image{
	padding-left: 0px;
}
.feed-image>a>img{
	width: 100%;
}
.split{
    color: #313131;
    font-style: italic;
    padding: 10px ;
    margin-right: 15px;
    
}
.split:hover {
    color: white;
    text-decoration: none;
    background-color: #938A86;
}
.tarbar .active{
    color: white;
    background-color: #8A0000;
}
.tarbar{
    margin-bottom: 40px;
}