.search-field{
    margin-top: 60px;
}
label[for="univer"]{
    padding-left: 0px;
}
.pagination>li>a{
    color: #6e6e6e;
}
.pagination .active a{
    background-color: #6e6e6e;
    border-color: #6e6e6e;
}
.pagination .active a:hover{
    background-color: #585858;
    border-color: #585858;
}
