@font-face {
  font-family: 'nice';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
    font-family: nice;
    background-color: #f4f4f4;
}
.fixed{
    position: fixed;
}
.box_skin{
    background-color: white;
    box-shadow: 10px 10px 13px #888888;
}
.box {
    color: #757575;
    text-align: center;
    padding-bottom: 80px;
}
.box .letter {
    font-size: 250px;
    line-height: 195px;
    padding-top: 15px;
}
p.def {
    font-family: 'nice';
}
p {
    font-family: 'nice'
}
.box .letter + .heading {
    margin-top: 74px;
}
.box .heading {
    line-height: 30px;

}
.box .heading p:first-child {
    font-size: 33px;
    line-height: 30px;
}
.box .heading p + p {
    margin-top: 2px;
    font-size: 13px;
}
.box .heading + p {
    font-size: 13px;
    margin-top: 25px;
}
.box > .let-spac {
    padding: 0 15px;
}
p.let-spac {
    letter-spacing: 0.5px;
}
p + .btn {
    margin-top: 57px;
}
.btn_skin2 {
    background: #ffffff;
    color: #303334;
}
.btn_sm {
    min-width: 125px;
}
.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 14px 0;
}
.btn:hover {
    text-decoration: none;
    background: #303334;
    color: #ffffff;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.icon-wrapper{
    padding-bottom: 34px;
}
.icon-box {
    padding-left: 12px;
    padding-top: 30px;
}
.icon-box + .icon-box {
    margin-top: 44px;
    padding-top: 61px;
    border-top: 1px solid #dadada;
}
.box_left {
    float: left;
    margin-right: 30px;
}
.icon-box .icon {
    min-width: 90px;
}
.icon {
    font-size: 70px;
    line-height: 80px;
    color: #5fc7e6;
    display: inline-block;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.o__hidden {
    overflow: hidden;
}

.o__hidden a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'nice', Arial, sans-serif;
}
.text-icon{
    color: #b0b2b2;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 10px;
}
h6 {
    font-size: 19px;
    line-height: 26px;
}
h2{
    padding: 0;
    text-transform: uppercase;
}
/*-------------------------------------*/

/*---------------------------*/
.news {
   
    padding-top: 30px;
}
.title-content{
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 40px;
}
.views-field-title:before,.views-field-title:after{
    content: "";
    width: 350px; 
    height: 1px;
    position: absolute;
    top: 17px;
    z-index: 1;
    background-color: black !important; 
}
.views-field-title:before{
    left: 0px;
    width: 31%;
}
.views-field-title:after{
    right: 0px;
    width: 32%
}
.views-field-title {
    position: relative;
    color: #64797E ;
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 1em;
    text-align: center;
}
.views-field-field-picture img {
    max-width: 100%;
    height: auto;
}
.views-field-field-picture{
    position: relative;

}
.views-field-field-headline {
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom:  0%;
    padding: 15px 0px;
    width: 100%;
}
.views-field-field-headline>.field-content {
    font-size: 24px;
    text-align: center;
    padding: 10px 0px;
    color: white;
}
.views-field-body{
    color: grey;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 28px;
    margin: 20px 0px;
}
.su-dropcap {
    color: #333;
    font-size: 98px !important;
    margin: 7px 10px 0 0!important;
    font-weight: 700;
    line-height: 74px !important;
}
.views-field-body .su-dropcap{
    float: left;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.red-link a {
    color: #64797E ;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #64797E;
    padding: 5px;
}
.red-link a:hover{
    background-color: #64797E;
    text-decoration: none;
    color: white;
}
.views-row {
    padding: 27px;
    background-color: white;
    margin-bottom: 3em;
    box-shadow: 10px 10px 13px #888888;
}
.back-ground-title {
    content: "";
    position: absolute;
    width: 100%;
    height: 71px;
    opacity: 0.8;
    bottom: 0%;
    background-color: grey;
}
.sub-news:before,.sub-news:after{
    width: 28%;
}
#block-views-recent-news-block{
    border: 1px solid #052B5B;
    padding: 3em 2em 6em;
    width: 100%;
    text-align: center;
    background-color: white;

}
#block-views-recent-news-block .view-header p {
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
}
.view-recent-survey.block {
    padding: 5% 5% 3%;
}
.view-header>h2{
    margin-bottom: .09em;
    font-size: 3.7em;
    font-weight: bold;
    color: #64797E ;
    text-transform: uppercase;
}
.new-left{
    padding-left: 0px;
}
.new-right{
    padding-right: 0px;
}
.catpulseicon {
    position: relative;
    width: 75px;
    height: 65px;
    display: block;
    margin: 4em auto;
    background-image: url(../img/cat-pulse-icon.png);
}
.catpulseicon::before {
    margin-right: 1em;
    right: 100%;

}
.catpulseicon::after {
    margin-left: 1em;
    left: 100%;
}
.catpulseicon::before, .catpulseicon::after{
    content: "";
    position: absolute;
    width: 8em;
    height: 2px;
    border-top: 1px solid #6583AD;
    top: 32.5px;
}
#block-views-recent-news-block .catpulse_content>h1  {
    font-size: 8.5em;
    margin: 0 0 .1em;
    display: inline-block;
    color: #052B5B;
}
#block-views-recent-news-block .catpulse_text>p {
    font-size: 1.5em;
    line-height: 1.2;
    color: #052B5B ;
    margin: 20px 0px 42px 0px;
}
.footer{
    background-color: #d0ccc1;
    color: #31302c;
}
.footer .blue-button {
    display: inline-block;
    padding: 0.8em 1.5em;
    background-color: #052B5B;
    color: #d0ccc1 ;
    text-transform: uppercase;
    font-weight: bold;
}
#footer-caro .active{
    background-color: orange;
}
#footer-caro li{
    border: none;
    background-color: grey;
    padding: 5px;

}
#footer-caro li:hover{
    background-color: orange;
}
#footer-caro {
    bottom: -40px;
}